<config>    
    <modules>
        <Koiber_TransactionalMessages>
            <version>1.0.0</version>
        </Koiber_TransactionalMessages>
    </modules>
	<frontend>
        <routers>
            <koiber>
                <use>standard</use>
                <args>
                    <module>Koiber_TransactionalMessages</module>
                    <frontName>koiber</frontName>
                </args>
            </koiber>
        </routers>
		<translate>
            <modules>
                <Koiber_TransactionalMessages>
                    <files>
                        <default>Koiber_Koiber.csv</default>
                    </files>
                </Koiber_TransactionalMessages>
            </modules>
        </translate>		
    </frontend>
	<global>
        <helpers>
            <koiber_transactionalmessages>
                <class>Koiber_TransactionalMessages_Helper</class>
            </koiber_transactionalmessages>
        </helpers>
		<blocks>
            <koiber_transactionalmessages>
                 <class>Koiber_TransactionalMessages_Block</class>
            </koiber_transactionalmessages>
        </blocks>
		<models>
            <koiber_transactionalmessages>
                <class>Koiber_TransactionalMessages_Model</class>
                <resourceModel>koiber_transactionalmessages_mysql4</resourceModel>
            </koiber_transactionalmessages>             
            <koiber_transactionalmessages_mysql4>
                <class>Koiber_TransactionalMessages_Model_Mysql4</class>
                <entities>
                    <eventos>
                        <table>koiber_transactionalmessages_eventos</table>
                    </eventos>
					<historico>
                        <table>koiber_transactionalmessages_historico</table>
                    </historico>
					<mensagem>
                        <table>koiber_transactionalmessages_mensagem</table>
                    </mensagem>
					<padrao>
                        <table>koiber_transactionalmessages_padrao</table>
                    </padrao>
                </entities>
            </koiber_transactionalmessages_mysql4>
        </models>
		<resources>
            <koiber_transactionalmessages_setup>
                <setup>
                    <module>Koiber_TransactionalMessages</module>
                </setup>
            </koiber_transactionalmessages_setup>
        </resources>
    </global>
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Koiber_TransactionalMessages after="Mage_Adminhtml">Koiber_TransactionalMessages</Koiber_TransactionalMessages>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
	<adminhtml>
        <layout>
            <updates>
                <koiber_transactionalmessages>                   
                    <file>koiber.xml</file>
                </koiber_transactionalmessages>
            </updates>
        </layout>
		<translate>
            <modules>
                <Koiber_TransactionalMessages>
                    <files>
                        <default>Koiber_Koiber.csv</default>
                    </files>
                </Koiber_TransactionalMessages>
            </modules>
        </translate>
		<acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <koiber_options>
                                            <title>Configurações do Koiber</title>
                                        </koiber_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>  